<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.firerating" version="1.1.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Fire Rating</name>
    <description>
        Georgian Bay Township Fire Rating App
    </description>
    <author email="jordanrynard@live.com" href="http://jordanrynard.com">
       Jordan Rynard
    </author>
    <content src="index.html" />
    <access origin="*" />
	<icon src="www/icon.png" width="1024" height="1024" />
	<platform name="ios">
		<icon src="www/icon-1024x1024.png" width="1024" height="1024" />
		<!-- iPhone 6 / 6+ -->
		<icon src="www/icon-180x180.png" width="180" height="180" />

		<!-- iPhone / iPod Touch  -->
		<icon src="www/icon-60x60.png" width="60" height="60" />
		<icon src="www/icon-120x120.png" width="120" height="120" />

		<!-- iPad -->
		<icon src="www/icon-76x76.png" width="76" height="76" />
		<icon src="www/icon-152x152.png" width="152" height="152" />
		<icon src="www/icon-167x167.png" width="167" height="167" />

		<!-- Settings Icon -->
		<icon src="www/icon-29x29.png" width="29" height="29" />
		<icon src="www/icon-58x58.png" width="58" height="58" />
		<icon src="www/icon-87x87.png" width="87" height="87" />

		<!-- Spotlight Icon -->
		<icon src="www/icon-40x40.png" width="40" height="40" />
		<icon src="www/icon-80x80.png" width="80" height="80" />
	</platform>
</widget>
