<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.firerating" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Fire Rating</name>
    <description>
        Georgian Bay Township Fire Rating App
    </description>
    <author email="jordanrynard@live.com" href="http://jordanrynard.com">
       Jordan Rynard
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="icon/ios/icon.png" width="1024" height="1024" />
</widget>
